

.editoriali-section {

    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: transparent;
}

.section-header {
    position: relative;
    margin-bottom: 15px;
    padding-bottom: 0;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}

.section-title {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 5px;
    color: #000;
    padding-left: 0;
    display: inline-block;
    position: relative;
}

.section-header::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
    height: 1px;
    background-color: #d5dbe0;
}
.section-title::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #003660;
}

.editorial-container {
    margin: 0;
    background-color: #f3f7fa;
    padding: 30px 0 10px 0;
    border-radius: 0;
    position: relative;

}


.editorial-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
    height: 1px;
    background-color: #d5dbe0;
}

.editorial-card {
    margin: 0 0 20px;
    display: flex;
    align-items: center;
    text-align: left;
    position: relative;
    padding: 10px 0;
}


.col-lg-3:not(:last-child) .editorial-card::after {
    content: "";
    position: absolute;
    top: 0px;
    right: -15px;
    height: 85px;
    width: 1px;
    background-color: #d5dbe0;
}

.author-image {
   margin-top: -8px;
    margin-right: 12px;
    flex-shrink: 0;
}

.author-image img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.editorial-content {
    flex-grow: 1;
}

.article-title {
    font-size: 17px;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 4px;
    color: #000;
}

.article-title:hover{
    cursor: pointer;
    color: #0066CC;
}

.author-name {
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #6E6D6D;
    display: block;
}

@media (max-width: 992px) {

    .col-lg-3:not(:last-child) .editorial-card::after {
        display: none;
    }
}

@media (max-width: 576px) {
    .section-title {
        font-size: 20px;
    }

    .author-image img {
        width: 50px;
        height: 50px;
    }
}